body {
    background-color: #76b852;
    background: radial-gradient(#8DC26F 0%, #76b852 100%);
}

.content {
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

p.cim {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    color: #2a2a2a;
}

.nav {
    width: 100%;
    position: relative;
    bottom: -11px;
    padding: 20px 0px 20px 0px;
    display: block;
    height: 25px;
}

.regisztracio button,
.belepes button {
    width: 110px;
    padding: 20px;
    margin: 0 auto;
    background-color: #76b852;
    border: 0;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

button.small {
    width: 60px;
    font-size: 10px;
    padding: 5px;
    background-color: #76b852;
    border: 0;
    border-radius: 2px;
    color: white;
    font-weight: normal;
    cursor: pointer;
}

.nav button {
    background: transparent;
    border: 0;
    border-bottom: solid 3px #79b956;
    cursor: pointer;
}


.input-box {
    width: 100%;
    padding: 10px 0px 10px 0px;
    float: left;
}

input {
    padding: 10px;
    width: 260px;
}
input#password,
input#reg-password {
    width: 195px;
}
.input-box.captcha {
    display: none;
}
.input-box.captcha.block {
    display: block;
}

label {
    width: 100%;
    float: left;
    text-align: left;
    padding-left: 44px;
    padding-bottom: 5px;
}

/*for javascript*/

.belepes {
    display: none;
    height: 0px;
}

.belepes.active {
    display: block;
    width: 100%;
    max-height: 100%;
    min-height: 400px;
}

.regisztracio {
    display: none;
    height: 0px;
}

.regisztracio.active {
    display: block;
    width: 100%;
    max-height: 100%;
    min-height: 400px;
}



