<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tesztfeladat</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="content">
    <p><?php echo $aktivalas;?></p>

    <p><?php echo $belepes;?></p>

</div>
</body>
</html>