<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tesztfeladat</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="content">
    <p>Kedves <?php print_r($_SESSION['adatok']->name);?></p>

    <p>Email címed: <?php print_r($_SESSION['adatok']->email);?></p>

    <a href="./kilepes">Kilépés</a>
</div>
</body>
</html>